* {
    position: relative;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.App {
    font-family: HennessySans, sans-serif;
}

.App input {
    padding: 8px;
    font-family: HennessySans, sans-serif;
    font-size: 2em;
    color: inherit;
    -webkit-appearance: none;
    background: #fff1;
    border: #fff0 2px solid;
    border-radius: 0;
    text-align: center;
    transition: all .8s cubic-bezier(0.2, 1, 0.2, 1);
}
.App input:focus {
    outline: none;
    background: #fff3;
    border-color: #fff3;
}
